@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline:none;
    border:none;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Oswald', sans-serif;
}

p{  
font-family: 'Raleway', sans-serif;
}

.wrapper{
    width:100%;
    margin:auto;
}

/* (1) header area */
.nav{
    width:85%;
    margin: 1em auto;
    overflow: auto;
}

.nav h1{
    text-transform:uppercase;
    width:50%;
    float:left;
}

.nav h1 a{
  font-family: 'Oswald', sans-serif;
    color:#96746b;
    text-decoration: none;
}

.nav ul{
    width:50%;
    float:left;
    text-align: right;
    padding-top:1em;

}

.nav ul li{
    display:inline-block;
    margin-left:1em;
}

.nav ul li a{
   font-family: 'Raleway', sans-serif;
   font-weight:700;
    color:#312a26;
    text-decoration: none;

}

.banner{
background-image: url(../image/banner-bg.jpg);
background-size: cover;
background-position: center;
position:relative;
width:100%;
height:670px;
    
}

.banner-text{

    position:absolute;
    color:#c7a17a;
    top: 300px;
    left:130px;
    transform:translate(0%,-50%);
    /* border:2px solid　red; */
}

.banner-text h2{
    color:#c7a17a;
    font-size:4em ;
    text-transform:uppercase ;
    /* border:2px solid blue;  */

}

.banner-text h2 span{
    color:#96746b;
}
.banner-text p{
    color:#fff;
}

.banner a{
    text-decoration:none ;
    display:inline-block ;
    padding:1em;
    background-color:#312a26;
    color:#fff;
    font:'Raleway', sans-serif;
    font-weight: 700;
    margin-top: 1em;
}
/* Banner Section */

/* Ads Section */
.ads{
    width:85%;
    margin:4em auto;
    overflow: auto;
}
.ads-items{
    width:48.5%;
    float:left;
    height:350px;
    background-size: cover;
    background-position: center;
    position:relative;
    margin-bottom: 3%;
}

.ads-item1{
    background-image: url(../image/ads-img1.jpg);
    margin-right: 3%;

}

.ads-item2{
    background-image: url(../image/ads-img2.jpg);
 
}

.ads-text{
    position:relative;
    top:30%;
    left:10%;
    width:40%;
    transform: translateY(-50)
}

.ads-text h3{
    text-transform:uppercase;
    font-size: 2em;
    color:#fff;
    line-height: 1.2em;
    text-shadow:3px 3px 3px #312a26;
}

.ads-text a {
    display:block;
    font-family:'Raleway', sans-serif ;
    font-weight: 700;
    color:#fff;
    text-transform: uppercase;
    margin-top: 1em;
    text-shadow: 3px 3px 6px #312a26;
}

/* Merchandise Section */
.merch{
    width:85%;
    margin:4em auto;
}

.section-header{
    text-align: center;
}

.section-header span{
    font-family:'Raleway', sans-serif ;
    font-weight: 500;
    font-style: italic;
    color:#c7a17a
}
.section-header h2{
    text-transform: uppercase;
    color:#312a26;
}

.section-header hr{
    background-color: #c7a17a;
    height:2px;
    width:25%;
    margin:auto;
}

/* Merch Gallery */
.merch-gallery{
    margin-top:2em ;
    overflow: auto;   
}

.merch-items{
    width:24.25%;
    float:left;
    margin-right: 1%;
    margin-bottom:1%;
}
.merch-items:nth-child(4),
.merch-items:nth-child(8){
    margin-right:0 ;
}
.merch-items img{
    width:100%;
    height:350px;
    object-fit: cover;
} 

/* discount area */
.discount{
    width:85%;
    margin:4em auto;
    background-image: url(../image/discount-img.jpg);
    background-size: cover;
    background-position: center;
    height:350px;
    position:relative;
}

.discount-text{
    position:absolute;
    text-align: center;
    top:50%;
    left:50%;
    width:50%;
    transform: translate(-50%,-50%);
}

.discount-text span{
    /* border:2px solid red; */
    font-family:'Raleway', sans-serif ;
    color:#fff;
    text-shadow: 3px 3px 6px #312a26 ;
    font-style: italic;
}

.discount-text h2{
   font-size: 2em;
   color:#fff;
    text-transform:uppercase;
    text-shadow: 3px 3px 6px #312a26 ;
}

.discount-text a{
    text-decoration: none;
    display:inline-block;
    padding:1em;
    background-color: rgba(255,255,255,.5);
    color:#312a26;
    font-family: 'Raleway', sans-serif;
    font-weight:700;
    margin-top: 1em;
}
/* ads Section 2 */
.ads-item3{
    background-image: url(../image/ads-img3.jpg);
    margin-right: 3%;

}

.ads-item4{
    background-image: url(../image/ads-img4.jpg);
 
}

.ads-item5{
    background-image: url(../image/ads-img5.jpg);
    margin-right: 3%;
}

.ads-item6{
    background-image: url(../image/ads-img6.jpg);
}

/* Reservation Section */
.reservation{
    width:85%;
    margin:auto;
}

form{
    overflow: auto;
}
.form-group{
    margin-top:2em;
    background-color: #f2f2f2;
    float:left;
    width:49.5%;
    border-radius:5px;
    padding:2em;
    height:650px;
}

.form-group:nth-child(1){
    margin-right:1%;   
}

form input,
form label,
form select,
form textarea{
    display:inline-block;
    width:100%;
    font-family: 'Raleway', sans-serif;
    padding:1em;
    margin-bottom: 1em;   
}

form label{
    font-weight: 700;
    padding:0;
    margin-bottom: .5em;
    }
.rest-time{
    text-align:center;   
}
.rest-time *{
    width:auto;
}
form p{
    margin:1em;
    text-align:center;   
    font-weight: 700;
}
form h3{
    text-align: center;
    text-transform: uppercase;   
}
form h3::after{
    content:"";
    background-image:url(../image/reservation-cards.png);
    background-size:cover;
    display:block;
    width:150px;
    height:30px;
    margin:auto; 
}

.res-agreement *{
    width:auto;
}
form input[type="submit"]{
    background-color:#c7a17a;
    font-weight:700;
    text-transform: uppercase; 
}    

.footer{
    background-image: url(../image/footer-img.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height:400px;
  }
  .footer-contents{
    width:85%;
    margin:4em auto;
    padding-top: 2em;
  }
  .footer-widgets{
    float:left;
    width:24%;
    margin-right: 1%;
    color:#fff;
    /* line-height: 1.6; */
  }

  /* .footer-widgets:nth-child(4){ */
    /* margin-right:0; */
  /* } */
  .footer-widgets h3,
  .fotter-widgets h4{
    font-family: 'Oswald', sans-serif;
    margin-bottom:1em;
    margin-top:1em;
  }
  .footer-widgets h3{
    text-transform:uppercase;
  }
  .footer-widgets p{
    font-family: 'Raleway', sans-serif;
    color:#c7a17a;
  }

  .footer-widgets input{
    display: inline-block;
  }

  #post-search{
    width:60%;
    margin-right:1%;
  }
  #submit{
    width:29%;
  }

  .footer-social{
    background-color: #19100f;
    overflow:auto;
    color:#fff;
    padding:1em 7.5%;

/* 
 color
 overflow
 padding
*/
/* border:2px solid red; */

  }

  .social-widget{
    float:left;
    width: 32.66%;
    text-align: center;

  }

  .social-widget h3{
    text-transform: uppercase;
  }

  .social-widget img{
  width: 35px;
  }